{% extends "IncognitoMailQueueViewBundle:Default:base.html.twig" %}

{% block content %}
    <section role="main" class="scroll-container">

        <ul id="inboxTabs" class="tabs vertical" data-tab>
            {% for message in messages %}
                <li class="tab-title {% if loop.first %}active{% endif %}">
                  <a href="#panel{{ message.id }}">{{ message.subject }} {{ message.sender }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="tabs-content">
            {% for message in messages %}
                <div class="content {% if loop.first %}active{% endif %}" id="panel{{message.id}}">
                    <p>
                    <div class="panel">
                        <h2>({{ message.id }}) {{ message.subject }}</h2>
                        <pre> {{ message.headers }}</pre>
                        {{ message.contentType }}
                        {{ message.charset }}
                        {{ message.queuedAt|date("m/d/Y") }}
                        {{ message.sendAt|date("m/d/Y") }}
                    </div>
                    <div class="panel">
                        {{ message.sender }}
                        {{ message.recipients }}
                        {{ message.recipientsCC }}
                        {{ message.recipientsBCC }}
                    </div>
                    <iframe sandbox src="{{
                        path(
                            'incognito_mail_queue_view_message_body',
                            {message: message.id}
                        )
                    }}"></iframe>
                    </p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
